<div class="container">
    <h3>Students</h3>
    <table class="table table-hover" cellpadding="0" cellspacing="0">
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Age</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
        <tbody>
        <tr ng-repeat="s in studentList">
            <td>{{s.id}}</td>
            <td>{{s.name}}</td>
            <td>{{s.age}}</td>
            <td>
                <button class="btn btn-primary" ng-click="edit(s.id, s.name + '1', s.age + 1)">Edit</button>
            </td>
            <td>
                <button class="btn btn-danger" ng-click="delete(s.id)">Delete</button>
            </td>
        </tbody>
    </table>
    <form class="container" ng-submit="addStudent()" role="form" ng-controller="studentsController">
        <div class="input-group">
            <span class="input-group-text">Student info</span>
            <input type="text" aria-label="Name"
                   ng-model="newStudent.name" placeholder="Name" class="form-control">
            <input type="number" aria-label="Age"
                   ng-model="newStudent.age" placeholder="Age" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Add student</button>
    </form>
</div>